*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
src/androidTest/java/com/hansoolabs/test/locationupdate/
src/main/java/com/hansoolabs/test/locationupdate/
src/test/java/com/hansoolabs/test/locationupdate/
